<div class="page-wrapper">
    <app-header-mobile></app-header-mobile>
    <app-menu-sidebar></app-menu-sidebar>
    <div class="page-container ">
        <app-header-desktop>

        </app-header-desktop>
        <div class="main-content ">

            <div class="card">
                <div class="card-header">
                    Input
                    <strong>Grid</strong>
                </div>
                <div class="card-body card-block">
                    <form action="" method="post" class="form-horizontal">
                        <div class="col col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-4">
                                    <div class="form-group">
                                        <div class="user">
                                            <label for="nf-email" class=" form-control-label"><strong>Username : </strong></label> {{username}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-md-4">
                                    <div class="form-group">
                                        <div class="user">
                                            <label for="nf-email" class=" form-control-label"><strong>Name : </strong></label>{{name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    <div class="form-group">
                                        <div class="user">
                                            <label for="nf-email" class=" form-control-label"><strong>Class : </strong></label>{{class}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <div class="form-group">
                                        <div class="user">
                                            <label for="nf-email" class=" form-control-label"><strong>No of Divece : </strong></label> {{no_of_device}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-md-3">
                                    <div class="form-group">
                                        <div class="user">
                                            <label for="nf-email" class=" form-control-label"><strong>User Type : </strong></label>{{role}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-md-3">
                                    <div class="form-group">
                                        <div class="user">
                                            <label for="nf-email" class=" form-control-label"><strong>Status : </strong></label>{{status}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-md-3">
                                    <div class="form-group">
                                        <div class="user">
                                            <label for="nf-email" class=" form-control-label"><strong>Email : </strong></label>{{email}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">

                        </div>



                    </form>
                </div>
                <div class="card-footer">
                    <div class="col col-md-12">
                        <div class="row form-group">
                            <div class="col col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <button class="btn btn-outline-danger btn-lg btn-block" (click)="blockuser(username)">Block User</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="row form-group">
                                    <div class=" col-md-12  ">
                                        <button class="btn btn-outline-danger btn-lg btn-block">Clear Device Data</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-12">

                        <div class="row form-group">
                            <div class="col col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <button class="btn btn-outline-primary btn-lg btn-block">Promote User</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <button class="btn btn-outline-primary btn-lg btn-block">Unblock User</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>





        </div>