<div class="page-wrapper">
    <app-header-mobile></app-header-mobile>
    <app-menu-sidebar></app-menu-sidebar>
    <div class="page-container ">
        <app-header-desktop>

        </app-header-desktop>
        <div class="main-content ">
            <div class="section__content section__content--p30 ">
                <div class="container-fluid center ">

                    <p *ngFor="let alert of alerts">
                        <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
                    </p>
                    <p>
                        <!-- <button type="button" class="btn btn-primary" (click)="reset()">Reset</button> -->
                    </p>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="Title_alert" style="display: none;">
                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="Chapter_No_alert" style="display: none;">
                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="class_alert" style="display: none;">
                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong><button class="button-style"> <i class=" zmdi  zmdi-arrow-left button-style-2"></i> </button>Upload Video</strong>
                            </div>

                            <form #video_upload="ngForm" (ngSubmit)="onSubmit(video_upload.value)" class="form-horizontal">

                                <div class="card-body card-block">
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label ">Chapter Name</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="Chapter_Name" name="Chapter_Name" placeholder="Chapter Name" class="form-control" required ngModel #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
                                            <small class="form-text text-muted">This is where you enter Chapter Name</small>

                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="email-input" class=" form-control-label">Title</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="Title" name="Title" placeholder="Title" class="form-control" required ngModel #name2="ngModel" [class.is-invalid]="name2.invalid && name2.touched">
                                            <small class="help-block form-text">Please enter the Title</small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="password-input" class=" form-control-label">Chapter No</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="number" id="Chapter_No" name="Chapter_No" placeholder="Chapter No" class="form-control" required ngModel #name3="ngModel" [class.is-invalid]="name3.invalid && name3.touched">
                                            <small class="help-block form-text">Please enter Chapter No</small>
                                        </div>
                                    </div>


                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="select" class=" form-control-label">Select Class</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <select name="class" id="select" class="form-control" required ngModel #name4="ngModel" [class.is-invalid]="name4.invalid && name4.touched">
                                                <option selected >Please select</option>
                                                <option *ngFor="let classs of class" value="{{classs.value}}">{{classs.eritten}}</option>
                                                
                                            </select>
                                        </div>
                                    </div>

                                    <!-- 
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader> -->
                                </div>
                                <div class="card-footer">
                                    <button type="submit" name="submit" class="btn btn-primary btn-sm" [disabled]="video_upload.invalid">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                            </form>


                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>