<div class="page-wrapper">
    <app-header-mobile></app-header-mobile>
    <app-menu-sidebar></app-menu-sidebar>
    <div class="page-container ">
        <app-header-desktop>

        </app-header-desktop>
        <div class="main-content ">






            <div class="section__content section__content--p30 " style="text-align: center;">









                <div class="container-fluid ">


                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>Upload a new video</h4>
                            </div>
                            <div class="card-body">
                                <p class="text-muted m-b-15">Click here top Upload a new video</p>

                                <ul class="list-inline">
                                    <li>
                                        <div class="center">
                                            <button (click)="navigateurl('/teacher/notes-add')" style="text-align: center;color: #551A8B;">Click Here</button>
                                        </div>

                                    </li>

                                </ul>

                            </div>
                        </div>


                    </div>
                    <div>
                        <h1 class="" style="text-align: center;">
                            <!-- {{meassage}} -->
                        </h1>
                    </div>
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="row">
                                    <!-- DATA TABLE -->
                                    <div class="col-md-4">

                                        <h3 class="title-5 m-b-35">data table</h3>
                                    </div>
                                    <div class="col-md-4 max-width">

                                        <form class="form-header col-md-4 max-width">
                                            <input class="au-input au-input--xl col-md-4 " type="text " name="search " placeholder="Search for datas &amp; reports... " />
                                            <button class="au-btn--submit " type="submit ">
                                        <i class="zmdi zmdi-search "></i>
                                    </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>

                                                <th>user ID</th>
                                                <th>Name</th>
                                                <th>Class</th>
                                                <th>status</th>

                                                <th>no of devices</th>

                                                <th>edit</th>
                                                <th>block</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr class="tr-shadow" *ngFor="let obj of data">

                                                <td>
                                                    <h5>{{obj.name}}</h5>
                                                </td>
                                                <td>
                                                    <span class="block-email">
                                                        {{obj.username}}
                                                    </span>
                                                </td>
                                                <td class="desc">
                                                    {{obj.class}}

                                                </td>

                                                <td class="datee">
                                                    {{obj.status}}
                                                </td>
                                                <td>
                                                    <span class="status--process">
                                                        {{obj.no_of_device}}
                                                    </span>
                                                </td>

                                                <td>
                                                    <div class="table-data-feature">

                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" (click)="edit(obj.username)"> 
                                                            
                                                            <i class="zmdi zmdi-edit"></i>

                                                        </button>


                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-data-feature">


                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <!-- (click)="delete(obj.id)" -->
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                        </tbody>



                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>