<div class="page-wrapper">
    <app-header-mobile></app-header-mobile>
    <app-menu-sidebar></app-menu-sidebar>
    <div class="page-container ">
        <app-header-desktop>

        </app-header-desktop>
        <div class="main-content ">
            <div class="section__content section__content--p30 " style="text-align: center;">
                <div class="container-fluid ">

                    <div class="col-lg-12">



                        <div class="card">
                            <div class="card-header">
                                <h3>Waana Send Notification to Students ?</h3>

                            </div>
                            <div class="card-body card-block">
                                <form class="form-horizontal" #notification="ngForm" (ngSubmit)="onSubmit(notification.value)">


                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">Title</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="Title" name="Title" placeholder="Title" class="form-control" required ngModel #Title="ngModel" [class.is-invalid]="Title.invalid && Title.touched">

                                            <small class="help-block form-text">Please enter Title</small>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">Body</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="Title" name="Body" placeholder="Body" class="form-control" required ngModel #Body="ngModel" [class.is-invalid]="Body.invalid && Body.touched">

                                            <small class="help-block form-text">Please enter Title</small>
                                        </div>
                                    </div>
                                    <!-- <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">Photo url</label>
                                        </div>

                                        <div class="col-12 col-md-9">

                                            <div class="col col-md-9">
                                                <div class="form-check">
                                                    <div class="radio">
                                                        <label for="radio2" class="form-check-label ">
                                                            <input type="radio" id="none"  [(ngModel)]="file_image_cancel" type="radio" [value]="true" [checked]="file_image_cancel"  name="file_image_cancel"  class="form-check-input"> I  want a photo
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label for="radio2" class="form-check-label ">
                                                            <input type="radio" id="none"  [(ngModel)]="file_image_cancel" type="radio" [value]="false"   name="file_image_cancel"  class="form-check-input"> I Don't want a photo
                                                        </label>
                                                    </div>
                                                    <div class="radio" *ngIf="file_image_cancel">
                                                        <label for="radio1" class="form-check-label ">
                                                            <input type="radio" id="Manually" [(ngModel)]="Manually" type="radio" [value]="false" [checked]="!Manually"  name="Manually"  class="form-check-input">I will type Manually a Url
                                                        </label>
                                                    </div>
                                                    <div class="radio" *ngIf="file_image_cancel">
                                                        <label for="radio2" class="form-check-label ">
                                                            <input type="radio" id="pdf"  [(ngModel)]="Manually" type="radio" [value]="true"   name="Manually"  class="form-check-input">I will select a photo
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                            <input type="text" id="Photo" name="Photo" placeholder="Photo Url" class="form-control" ngModel #Photo="ngModel" [class.is-invalid]="Photo.invalid && Photo.touched" *ngIf="!Manually">

                                            <small *ngIf="!Manually" class="help-block form-text">Please enter Title</small  >
                                        <input *ngIf="Manually" (change)="onFileselected($event)" type="file" id="file-input" name="fileinput" class="form-control-file " accept=".pdf " required ngModel #file="ngModel" [class.is-invalid]="file.invalid && file.touched ">

                                        </div>

                                    </div> -->

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="select" class=" form-control-label">Select Class</label>
                                        </div>
                                        <div class="col-12 col-md-9">

                                            <select name="class" id="select" class="form-control" required ngModel #name4="ngModel" [class.is-invalid]="name4.invalid && name4.touched">
                                            <option selected  [ngValue] ="null">Please select</option>
                                            <option *ngFor="let classs of class" value="{{classs.value}}">{{classs.eritten}}</option>
                                            
                                        </select>

                                        </div>
                                    </div>











                                    <div class="card-footer ">
                                        <button type="submit" name="submit" class="btn btn-primary btn-sm" [disabled]="notification.invalid">

                            <!-- <button type="submit" name="submit" class="btn btn-primary btn-sm" [disabled]="note_upload.invalid"> -->
                                <i class="fa fa-dot-circle-o "></i> Submit
                            </button>
                                        <button type="reset " class="btn btn-danger btn-sm " id="reset">
                                <i class="fa fa-ban "></i> Reset
                            </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>




                    <!-- <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">data table</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">

                        </div>

                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="au-checkbox">
                                            <input type="checkbox" >
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </th>
                                    <th>name</th>
                                    <th>email</th>
                                    <th>description</th>
                                    <th>date</th>
                                    <th>status</th>
                                    <th>price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox" >
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>Lori Lynch</td>
                                    <td>
                                        <span class="block-email">lori@example.com</span>
                                    </td>
                                    <td class="desc">Samsung S8 Black</td>
                                    <td>2018-09-27 02:12</td>
                                    <td>
                                        <span class="status--process">Processed</span>
                                    </td>
                                    <td>$679.00</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                <i class="zmdi zmdi-mail-send"></i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                                <input type="checkbox" >
                                                <span class="au-checkmark"></span>
                                            </label>
                                    </td>
                                    <td>Lori Lynch</td>
                                    <td>
                                        <span class="block-email">lori@example.com</span>
                                    </td>
                                    <td class="desc">Samsung S8 Black</td>
                                    <td>2018-09-27 02:12</td>
                                    <td>
                                        <span class="status--process">Processed</span>
                                    </td>
                                    <td>$679.00</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                    <i class="zmdi zmdi-mail-send"></i>
                                                </button>

                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                                <input type="checkbox" >
                                                <span class="au-checkmark"></span>
                                            </label>
                                    </td>
                                    <td>Lori Lynch</td>
                                    <td>
                                        <span class="block-email">lori@example.com</span>
                                    </td>
                                    <td class="desc">Samsung S8 Black</td>
                                    <td>2018-09-27 02:12</td>
                                    <td>
                                        <span class="status--process">Processed</span>
                                    </td>
                                    <td>$679.00</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                    <i class="zmdi zmdi-mail-send"></i>
                                                </button>

                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                                <input type="checkbox" >
                                                <span class="au-checkmark"></span>
                                            </label>
                                    </td>
                                    <td>Lori Lynch</td>
                                    <td>
                                        <span class="block-email">lori@example.com</span>
                                    </td>
                                    <td class="desc">Samsung S8 Black</td>
                                    <td>2018-09-27 02:12</td>
                                    <td>
                                        <span class="status--process">Processed</span>
                                    </td>
                                    <td>$679.00</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                    <i class="zmdi zmdi-mail-send"></i>
                                                </button>

                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                                <input type="checkbox" >
                                                <span class="au-checkmark"></span>
                                            </label>
                                    </td>
                                    <td>Lori Lynch</td>
                                    <td>
                                        <span class="block-email">lori@example.com</span>
                                    </td>
                                    <td class="desc">Samsung S8 Black</td>
                                    <td>2018-09-27 02:12</td>
                                    <td>
                                        <span class="status--process">Processed</span>
                                    </td>
                                    <td>$679.00</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                    <i class="zmdi zmdi-mail-send"></i>
                                                </button>

                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                                <input type="checkbox" >
                                                <span class="au-checkmark"></span>
                                            </label>
                                    </td>
                                    <td>Lori Lynch</td>
                                    <td>
                                        <span class="block-email">lori@example.com</span>
                                    </td>
                                    <td class="desc">Samsung S8 Black</td>
                                    <td>2018-09-27 02:12</td>
                                    <td>
                                        <span class="status--process">Processed</span>
                                    </td>
                                    <td>$679.00</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                    <i class="zmdi zmdi-mail-send"></i>
                                                </button>

                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="spacer"></tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>