<div class="page-wrapper">
    <app-student-header-mobile></app-student-header-mobile>
    <app-student-menu-sidebar></app-student-menu-sidebar>
    <div class="page-container ">
        <app-student-header-desktop>

        </app-student-header-desktop>
        <div class="main-content ">
            <div class="section__content section__content--p30 " style="text-align: center;">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <h3 class="title-5 m-b-35">registered devices</h3>


                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                        <tr>

                                            <th>S.No</th>

                                            <th>devices</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="tr-shadow" *ngFor="let data of textmodel">

                                            <td></td>
                                            <td>
                                                <span class="block-email"></span>
                                            </td>
                                            <td class="desc"></td>

                                            <td class="datee"></td>
                                            <td>
                                                <span class="status--process"></span>
                                            </td>

                                            <td>
                                                <div class="table-data-feature">

                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        
                                                        <i class="zmdi zmdi-edit"></i>

                                                    </button>
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>

                                                </div>
                                            </td>

                                        </tr>

                                        <tr class="spacer"></tr>
                                    </tbody>

                                </table>
                            </div>
                            <!-- END DATA TABLE -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>