<div class="page-wrapper">
    <app-student-header-mobile></app-student-header-mobile>
    <app-student-menu-sidebar></app-student-menu-sidebar>
    <div class="page-container ">
        <app-student-header-desktop>

        </app-student-header-desktop>
        <div class="main-content ">
            <div class="container-fluid">
                <div class="rowsss  align-items-start">
                    <div class="col-8">
                        <div *ngIf="sources">
                            <div>

                                <div style="width: 100%;" mat-card-image plyr [plyrPlaysInline]="true"
                                    [plyrCrossOrigin]="true" [plyrDriver]="hlsjsDriver2" [plyrOptions]="options"
                                    [plyrSources]="sources" [plyrPoster]="poster" (plyrInit)="plyr1 = $event"
                                    (plyrLanguageChange)="languageChanged(hlsjsDriver2, plyr1)" autoplay class=""></div>

                            </div>
                            <p class="teet"> Title</p>
                            <h1>{{title}}</h1>
                            <div class="title">

                               





                            </div>
                        </div>
                    </div>

                
                    <div class="col-4">
                        <div class="chat" #mychatdiv  >
                            <div *ngFor="let item of messagearry">
                                <p class="mes-msgtext-center"><b>{{item.user}} </b>{{item.message}}</p>
                            </div>
                            <div class="msg-by-other" *ngFor="let item of pmesage">
                                <p class="mes-msgtext"><b>{{item.user}} </b>
                                    
                                </p>
                                {{item.message}}

                            </div>
                            <div class="msg-by-other" *ngFor="let item of mesage"
                                [ngClass]="item.user === uname && 'same-user' ">
                                <p class="mes-msgtext"><b>{{item.user}} </b>
                                    
                                </p>
                                {{item.message}}

                            </div>
                            <!-- <div class="" *ngFor="let item of mesage" >
                                <p  class="mes-msgtext-right"><b>Me</b></p>

                                <p class="msg-by-me">
                                    {{item.message}}
                                </p>
                            </div> -->

                        </div>
                        <div class="msg-conatiner">
                            <form #note_upload="ngForm" (ngSubmit)="sendmessage(note_upload.value)" *ngIf="!banned">
                                <input maxlength="50" type="text" id="Title" name="Title"
                                    placeholder="Please Enter Your Message" class="form-control msg" required ngModel
                                    #Title="ngModel">

                                <button type="submit" class="btn btn-outline-danger buttonss">Send</button>
                            </form>
                           


                        </div>
                    </div>

                </div>
                <div class="rowdd">

                </div>
            </div>































        </div>

        </div>
    </div>
