<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">

                        </a>
                    </div>
                    <div class="login-form">
                        <div class="alert alert-danger" role="alert" id="hidden" style="display: none;">
                            <p id='hidden_message' value=""></p>
                        </div>
                        <form (ngSubmit)="onSubmit(loginform.value)" #loginform="ngForm">
                            <div class="form-group">
                                <label>Username</label>
                                <input class="au-input au-input--full form-control" type="text" name="username" placeholder="Username" ngModel maxlength="15" #username="ngModel" [class.is-invalid]="username.invalid && username.touched " required>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="au-input au-input--full form-control" type="password" name="password" placeholder="Password" maxlength="23" ngModel autocomplete="current-password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched " required>
                            </div>
                            <div class="login-checkbox">
                                <!-- <label>
                                    <input type="checkbox" name="remember">Remember Me
                                </label> -->
                                <label>
                                    <a (click)="navigate('/forogot-password')">Forgotten Password?</a>
                                </label>
                            </div>
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit" name="submit" [disabled]="loginform.invalid">sign in</button>

                        </form>
                        <div class="register-link">
                            <!-- <p>
                                Don't you have account?
                                <a href="#">Sign Up Here</a>
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>