<header class="header-desktop ">
    <div class="section__content section__content--p30 ">
        <div class="container-fluid ">
            <div class="header-wrap ">
                <form class="form-header " action=" " method="POST ">
                    <input class="au-input au-input--xl " type="text " name="search " placeholder="Search for datas &amp; reports... " />
                    <button class="au-btn--submit " type="submit ">
                            <i class="zmdi zmdi-search "></i>
                        </button>
                </form>
                <div class="header-button ">
                    <div class="noti-wrap ">
                        <div class="noti__item js-item-menu " (click)="showdropdown1() " [ngClass]="{ 'show-dropdown':setting1==true, '*':setting1==false } ">
                            <i class="zmdi zmdi-comment-more "></i>
                            <span class="quantity ">1</span>
                            <div class="mess-dropdown js-dropdown ">
                                <div class="mess__title ">
                                    <p>You have 2 news message</p>
                                </div>
                                <div class="mess__item ">
                                    <div class="image img-cir img-40 ">
                                        <img src="assets/images/icon/avatar-06.jpg " alt="Michelle Moreno " />
                                    </div>
                                    <div class="content ">
                                        <h6>Michelle Moreno</h6>
                                        <p>Have sent a photo</p>
                                        <span class="time ">3 min ago</span>
                                    </div>
                                </div>
                                <div class="mess__item ">
                                    <div class="image img-cir img-40 ">
                                        <img src="assets/images/icon/avatar-04.jpg " alt="Diane Myers " />
                                    </div>
                                    <div class="content ">
                                        <h6>Diane Myers</h6>
                                        <p>You are now connected on message</p>
                                        <span class="time ">Yesterday</span>
                                    </div>
                                </div>
                                <div class="mess__footer ">
                                    <a href="# ">View all messages</a>
                                </div>
                            </div>
                        </div>

                        <div class="noti__item js-item-menu " (click)="showdropdown3() " [ngClass]="{ 'show-dropdown':setting3==true, '*':setting3==false } ">
                            <i class="zmdi zmdi-notifications "></i>
                            <span class="quantity " id="notification" style="display: none;">{{notifiactionnumber}}</span>
                            <div class="notifi-dropdown js-dropdown ">
                                <div class="notifi__title ">
                                    <p>You have {{notifiactionnumber}} Notifications</p>
                                </div>
                                <div class="hieght">
                                    <div class="notifi__item " *ngFor="let a of notifiactionall" onclick="" (click)="teacherroute2(a.onclick , a.id)">

                                        <div class="bg-c1 img-cir img-40 ">
                                            <i class="zmdi zmdi-email-open "></i>
                                        </div>
                                        <div class="content ">
                                            <p>{{a.body}}</p>
                                            <span class="date ">{{a.date}}  {{a.time}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="account-wrap ">
                        <div class="account-item clearfix js-item-menu " [ngClass]="{ 'show-dropdown':setting==true, '*':setting==false } ">

                            <div class="image ">
                                <img src="assets/images/icon/avatar-01.jpg " alt="{{name}}" />
                            </div>
                            <div class="content ">
                                <a class="js-acc-btn " (click)="showdropdown() ">{{name}}</a>
                            </div>
                            <div class="account-dropdown js-dropdown ">
                                <div class="info clearfix ">
                                    <div class="image ">
                                        <a href="# ">
                                            <img src="assets/images/icon/avatar-01.jpg " alt="{{name}}" />
                                        </a>
                                    </div>
                                    <div class="content ">
                                        <h5 class="name ">
                                            <a href="# ">{{name}}</a>
                                        </h5>
                                        <span class="email ">{{email}}</span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body ">
                                    <div class="account-dropdown__item ">
                                        <a (click)="teacherroute('student/settings')">
                                            <i class="zmdi zmdi-account "></i>Account</a>
                                    </div>
                                    <div class="account-dropdown__item ">
                                        <a href=" ">
                                            <i class="zmdi zmdi-settings "></i>Setting</a>
                                    </div>

                                </div>
                                <div class="account-dropdown__footer ">
                                    <a (click)="logout() ">
                                        <i class="zmdi zmdi-power "></i>Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>