<!-- <div class="dashboard-layout">
  <app-header-mobile></app-header-mobile>
  <app-menu-sidebar></app-menu-sidebar>

  <main class="main-content">
    <app-header-desktop></app-header-desktop>

    <div class="container-fluid ">
        <h1 class="center">Hello, {{name}}</h1>
    </div>
  </main>
</div> -->

<div class="page-wrapper">
    <app-header-mobile></app-header-mobile>
    <app-menu-sidebar></app-menu-sidebar>
    <app-header-desktop> </app-header-desktop>
    <div class="page-container ">
      
        <div class="main-content ">
            <div class="section__content section__content--p30 " style="text-align: center;">
        <h1 class="center">Hello, {{name}}</h1>
</div>
</div>
</div>
</div>
