.ck.ck-content,
.ck-editor__editable,
.ck-rounded-corners,
.ck-editor__editable_inline,
.ck-blurred {
    min-height: 300px!important;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
    min-height: 300px;
}

.center-button {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.datee {
    width: 150px;
}

a {
    cursor: pointer;
    color: #007bff!important;
}