 <router-outlet>
    <div class="loader2" *ngIf="loaderservice.Isloading | async">

        <mat-spinner style="top:50%;left:50%;"> </mat-spinner>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
        <h1 style="top:50%;left:50%;"> Please Wait</h1>
    </div>

</router-outlet> 
