*{
    word-wrap: break-word;
}

.title_p{
    margin: 0;
}
/* @media (min-width:990px) { */
    
    .plyr--full-ui {
        width: 20%!important;
    
    }
    
    .plyr__controls__item {
        display: none;
    }
    
    .title  {
        text-align: center;
    width: 100%;
    margin-top: 4%;
    margin-left: 3%;
    
    }
    .vid-bg{
        background-color: #FBFCF8;
    }
    
    .video-main{
margin-right: 10px;
        margin: 10px;
        justify-content: center;
    display: flex;
    /* margin: 10px; */
    align-items: center;
        padding-top: 15px;
    }
    .content{
       float: right;
       width: 41%;
    
    }

    .title_h1{
    padding: 0;
    margin: 0;
    }

    
    .text {
        width: 80%;
    }
    .copy {
        margin-left: 8px;
        
    }
    
    .lower {
        padding-top: 10px;
        cursor: pointer;
    }
    
    .pointer {
        cursor: pointer;
    }
    
    .chat {
        background-color: #f8f8f8;
        height: 600px;
        bottom: 0;
        overflow: hidden;
        overflow-y: visible;
        
    }
    .mes-msgtext-center{
    
        text-align: center;    
            margin-right: 10px!important;
            font-weight: 800;
            font-size: 14px;
            margin-bottom: 3px;
        
        
}
    .mes-msgtext-right{
    
            text-align: right;    
                margin-right: 10px!important;
                font-weight: 800;
                font-size: 14px;
                margin-bottom: 3px;
            
            
    }
    .msg-by-other {
        left: 0px;
        background-color: #ffd000;
        width: fit-content;
        padding: 5px 10px 5px 10px;
        max-width: 90%;
        border-radius: 0 8px 8px 0;
        margin-bottom: 4px;
        margin-top: 4px;
    }
    
    .msg-by-me {
        right: 0;
        background-color: #ffffff;
        float: right;
        padding: 5px 10px 5px 22px;
        border-radius:  8px 0 0 8px ;
        margin-bottom: 4px;
    line-height: 18px;
    width: 90%;
    }
    
    .msg{
    width: 84%;
    float: left;
    }
    .buttonss{
       width: 16%;
       float: right;
    }
    .buttons{
        width: 100%;
        margin-bottom: 3px;
    }
    .mes-msgtext{
        font-weight: 800;
        font-size: 14px;
        margin-bottom: 3px;
    
    }
    .buttonddd{
        margin-left: 10px;
        height: 16px;
        font-size: 12px;
        padding: 0;
    }

    .golive-btn{
        float: right; 
    }
.rowsss{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

    @media (max-width:1440px) {
        
        .golive-btn {
            float: right;
            margin-right: 10%;
        }
    }
    @media (max-width:725px) {
        .chat{
            margin-top:20px;
        }
        .uppper{
            width: 90%;
        }
        .title{
            margin-top: 4%;
        }
        .chat{
            height: 300px;
        }
        .col-6 , .col-2 , .col-4{
            width: 100%!important;
            max-width: 100%!important;
        }

        .rowsss{
            display: block!important;
        }
    }

    .text-head{
        margin-top: 45px;
    }
    .text-head>p, .text-head>h1{
        margin: 0;
        padding: 0;

    }
    /* 
}

@media (max-width:320px) {

    .plyr--full-ui {
        width: 320px!important;
    margin-top: 0px;
    }
    .video{
        width: 320px!important;
   
    }
 .btns{
    content: ' ';
    width: 100%;
 }
.chat{
    width: 100%;
    
}
.title{
    width: 100%;
    margin-left: 19px;
}
.uppper{
    margin-bottom: 4px;
}
.video-elem-main{
    width: 320px;
}
.golive-btn{
    float: right;
font-size: 12px;
text-align: right;
margin-bottom: 2px;

}

} */
.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:wght@400&display=swap';
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: poppins,sans-serif
}


body,.container,.video-controls,.video-timer,.options {
    display: flex;
    align-items: center;
    justify-content: center
}

.container {
    width: 98%;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    max-width: 900px;
    border-radius: 5px;
    background: #000;
    aspect-ratio: 16/9;
    position: relative;
}

.container.fullscreen {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    border-radius: 0
}

.wrapper {

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    bottom: -15px;
    transition: all .08s ease;

} 
.background-wrapper::before {
content: " ";
    position: absolute;
    left: 0;
 bottom: 0;
 background: linear-gradient(to top, rgba(0 , 0 , 0 , 0.8), transparent);
 width: 100%;
 aspect-ratio: 6/1;
 z-index: -1;
 pointer-events: none;

}
.container .video-thumnail{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;

}


.container.scrubbing .video-thumnail,
.scrubbing .video-thumnail{

    display: block;
}
.container.scrubbing .wrapper ,
    .container.show-controls .wrapper {
    opacity: 1;
    bottom: 0;
    transition: all .13s ease;

}

.wrapper::before {
    content: "";
    bottom: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: calc(100% + 35px);
    pointer-events: none;
    background: linear-gradient(to top,rgba(0,0,0,0.7),transparent)
}

.video-timeline {
    height: 3px;
    width: 100%;
    cursor: pointer
}
.video-timeline:hover {
    height: 6px;
    width: 100%;
    cursor: pointer
}
.video-timeline .progress-area {
    height: 100%;
    position: relative;
    background: rgba(255,255,255,.6)
}

.video-timeline .progress-area span {

    color: rgba(255,255,255,1)
}
.progress-area span {
    position: absolute;
    left: 50%;
    top: -25px;
    font-size: 13px;
    color: #999999;
    pointer-events: none;
    transform: translateX(-50%)
}

.progress-area .progress-bar {
    width: 0%;
    height: 100%;
    position: relative;
    background: #ffb0b0
}
.progress-area .progress-bar-loaded {
    width: 0%;
    height: 100%;
    position: absolute;
    background:#FFF;
    width: 50%;
}
.progress-bar::before {
    content: "";
    right: 0;
    top: 50%;
    height: 13px;
    width: 13px;
    position: absolute;
    border-radius: 50%;
    background: #ffb0b0;
    transform: translateY(-50%)
}

.progress-bar::before,.progress-area span {
    display: none
}
.progress-bar-loaded::before,.progress-area span {
    display: none
}
.video-timeline:hover .progress-bar::before,.video-timeline:hover .progress-area span , .progress-bar-loaded::before {
    display: block
}

.wrapper .video-controls {
    padding: 5px 20px 10px
}

.video-controls .options {
    width: 100%
}

.video-controls .options:first-child {
    justify-content: flex-start
}

.video-controls .options:last-child {
    justify-content: flex-end
}

.options button {
    height: 40px;
    width: 40px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    background: 0 0;
    color: #efefef;
    border-radius: 3px;
    transition: all .3s ease
}

.options button :where(i,span) {
    height: 100%;
    width: 100%;
    line-height: 40px
}

.options button:hover :where(i,span) {
    color: #fff
}

.options button:active :where(i,span) {
    transform: scale(.9)
}

.options button span {
    font-size: 23px
}

.options input {
    height: 4px;
    margin-left: 3px;
    max-width: 75px;
    accent-color: #ffb0b0
}

.options .video-timer {
    color: #efefef;
    margin-left: 15px;
    font-size: 14px
}

.video-timer .separator {
    margin: 0 5px;
    font-size: 16px;
    font-family: open sans
}

.playback-content {
    display: flex;
    position: relative
}

.quality-selector {
    display: flex;
    position: relative
}
.playback-content .speed-options {
    padding: 0;
    position: absolute;
    list-style: none;
    left: -40px;
    bottom: 40px;
    width: 95px;
    overflow: hidden;
    border-radius: 4px;
       opacity: 1;
    pointer-events: auto;
    background: rgba(255,255,255,.9);
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    transition: opacity .13s ease
}

.playback-content .speed-options.show {
    opacity: 1;
    pointer-events: auto
}

.quality-selector .quality-options  {
    padding: 00;
    position: absolute;
    list-style: none;
    left: -40px;
    bottom: 40px;
    width: 95px;
    overflow: hidden;
     opacity: 1;
    pointer-events: auto;
    border-radius: 4px;
    background: rgba(255,255,255,.9);
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    transition: opacity .13s ease
}

.quality-selector .quality-options.show {
    opacity: 1;
    pointer-events: auto;
}

.speed-options li , .quality-options li {
    cursor: pointer;
    width: 95;
    color: #000;
    font-size: 14px;
    margin: 2px 0;
    padding: 5px 0 5px 15px;
    transition: all .1s ease
}
.quality-options li button{
    cursor: pointer;
    
    font-size: 14px;
    
}
.speed-options li:where(:first-child,:last-child) , .quality-options li:where(:first-child,:last-child) {
    margin: 0
}

.speed-options li:hover , .quality-options li:hover  {
    background: #dfdfdf
}

.speed-options li.active ,.quality-options li.active  {
    color: #fff;
    background: #ffb0b0
}

.container video {
    width: 100%
}
.headsection{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: all .26s ease; 
    top: 00px;
    color: white;

}
.background-headsection::before{
    content: " ";
    position: absolute;
    left: 0;
 top: 0;
 background: linear-gradient(to bottom, rgba(0 , 0 , 0 , 0.8), transparent);
 width: 100%;
 aspect-ratio: 11/1;
 z-index: -1;
 pointer-events: none;


}
.container.scrubbing .headsection,
.container.show-controls .headsection{
    opacity: 1;
    top: 00px;
    transition: all .26s ease;

}

.headsection .list-vertical li ,.headsection .list-vertical li p{
    display: inline;

}
.headsection .list-vertical li .head-Chapter{
font-weight: 900;

}
.headsection .list-vertical {
   margin-left: 16px;
    
    }
.headsection .title{
    font-size: 24px;
font-weight: 800;
    margin-left: 16px;
    text-transform: capitalize;

}
.headsection .Chapter{
    font-size: 12px;
font-weight: 400;
margin-left: 4px;
margin-right: 14px;

}.headsection .subject{
    font-size: 12px;
font-weight: 400;
margin-left: 4px;
margin-right: 14px;

}.headsection .date{
    font-size: 12px;
font-weight: 400;
margin-left: 4px;
margin-right: 14px;

}

@media screen and (max-width: 540px) {
    .wrapper .video-controls {
        padding:3px 10px 7px
    }

    .options input,.progress-area span {
        display: none!important
    }

    .options button {
        height: 30px;
        width: 30px;
        font-size: 17px
    }

    .options .video-timer {
        margin-left: 5px
    }

    .video-timer .separator {
        font-size: 14px;
        margin: 0 2px
    }

    .options button :where(i,span) {
        line-height: 30px
    }

    .options button span {
        font-size: 21px
    }

    .options .video-timer,.progress-area span,.speed-options li  , .quality-options li{
        font-size: 12px
    }

    .playback-content .speed-options {
        width: 75px;
        left: -30px;
        bottom: 30px
    }
    .quality-selector .quality-options {
        width: 75px;
        left: -30px;
        bottom: 30px
    }
    .speed-options li , .quality-options  li {
        margin: 1px 0;
        padding: 3px 0 3px 10px
    }



    
    .right .pic-in-pic {
        display: none
    }
}


.quality-options-custom .superior{
font-weight: 800;
font-size: 15px;
margin-bottom: 0.5px;
}
.quality-options-custom .inferor{
    font-weight: 400;
    font-size: 11px;
    

    }

    .image-thumnail{

        --scale: 0;
        position: absolute;
        aspect-ratio: 16/9;
        height: 88px;
        top: -4.5rem;
        border: 4px white solid;
        box-shadow: 1px 1px 9px black;

    }
    .image-thumnail img{
        width: 100%;
        height: 100%;
    }
    .scrubbing .video-thumnail ,  .scrubbing .wrapper .video-controls     {

            -webkit-filter: blur(1px);
            filter: blur(1px);

         }
         .scrubbing .wrapper .video-timeline .progress-area span     {
            display: block;
        
         }
         .scrubbing .wrapper .video-timeline {
            height: 6px;
            width: 100%;
            cursor: pointer;
         }
         .scrubbing .wrapper .video-controls   {
            pointer-events: none;
         }