<div class="page-wrapper">
    <app-student-header-mobile></app-student-header-mobile>
    <app-student-menu-sidebar></app-student-menu-sidebar>
    <div class="page-container ">
        <app-student-header-desktop>

        </app-student-header-desktop>
        <div class="main-content ">
            <div class="section__content section__content--p30 " style="text-align: center;">
                <div class="container-fluid " *ngFor=" let data of data">

                    <h1 class="center">{{data.title}}</h1>
                    <div class="details">
                        <p class="left"><b>Chapter Name: </b>{{data.ChapterName}}</p>
                        <p class="left"><b>Chapter No: </b>{{data.chapterno}}</p>
                        <p class="left"><b>Date: </b>{{data.date}}</p>
                        <p class="left"><b>Subject: </b>{{data.subject}}</p>
                    </div>
                    <div class="text" id="datass" [innerHTML]="data.notes">

                    </div>

                </div>
                <div class="container-fluid " *ngFor=" let data of pdf">

                    <h1 class="center">{{data.title}}</h1>
                    <div class="details">
                        <p class="left"><b>Chapter Name: </b>{{data.ChapterName}}</p>
                        <p class="left"><b>Chapter No: </b>{{data.chapterno}}</p>
                        <p class="left"><b>Date: </b>{{data.date}}</p>
                        <p class="left"><b>Subject: </b>{{data.subject}}</p>
                    </div>
                    <app-pdf-viewer [url]="data.url"></app-pdf-viewer>
                </div>


            </div>
        </div>
    </div>
</div>