.center {
    text-align: center;
}

.text {
    font-size: 38px;
    text-align: left;
    background-color: white;
    min-width: 70%;
    min-height: 80%;
}

.details {
    text-align: left;
    margin: 20px;
}