<aside class="menu-sidebar d-none d-lg-block ">
    <div class="logo ">
        <a href="# ">
            <img src="assets/images/icon/logo.png " alt="Cool Admin " />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1 ">
        <nav class="navbar-sidebar ">
            <ul class="list-unstyled navbar__list ">




                <li>
                    <a (click)="teacherroute('student')">
                        <i class="fas fa-tachometer-alt "></i>Dashboard</a>
                </li>
                <li>
                    <a (click)="teacherroute('/student/videos')">
                        <i class="fas fa-caret-square-o-right "></i>Videos</a>
                </li>
                <li>
                    <a (click)="teacherroute('/student/notes')">
                        <i class="fas fa-caret-square-o-right "></i>Notes</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>