<h1 class="heading">Download Our App For Different Platforms</h1>
<div class="center row ">
    <div class="download-windows col-sm-4">
        <div class="windows-logo"></div>
        <button class="button-download">
            <p class="logo-winodws"> 
            <svg id="Layer_1" viewBox="0 0 16 16" class="download-img" height="18px" width="18px">
                <style>.st0{fill:#fff}</style>
                <path class="st0" d="M13 8.5l-1.3-1.4L8.9 10V0H7.1v10L4.3 7.1 3 8.5l5 5zM3.6 14.1h8.8V16H3.6z"/>
            </svg>
          Windows   </p>
    
    
            <small class="small-windows">For Windows 8, 10, 11</small>
     
        </button>
        <table class="windows-downlod">
            <tbody>
                <tr>
                    <td><strong>Windows Installer</strong> </td>
                    <td>n</td>
                    <td>s</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="download-windows col-sm-4">
        <div class="windows-logo"></div>
        <button class="button-download">
            <p class="logo-winodws"> 
            <svg id="Layer_1" viewBox="0 0 16 16" class="download-img" height="18px" width="18px">
                <style>.st0{fill:#fff}</style>
                <path class="st0" d="M13 8.5l-1.3-1.4L8.9 10V0H7.1v10L4.3 7.1 3 8.5l5 5zM3.6 14.1h8.8V16H3.6z"/>
            </svg>
          Windows   </p>
    
    
            <small class="small-windows">For Android version 4+</small>
     
        </button>
        <table class="windows-downlod">
            <tbody>
                <tr>
                    <td><strong>Android</strong> </td>
                    <td>n</td>
                    <td>s</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="download-windows col-sm-4">
        <div class="windows-logo"></div>
        <button class="button-download-disabled" disabled>
            <p class="logo-winodws"> 
            <svg id="Layer_1" viewBox="0 0 16 16" class="download-img" height="18px" width="18px">
                <style>.st0{fill:#fff}</style>
                <path class="st0" d="M13 8.5l-1.3-1.4L8.9 10V0H7.1v10L4.3 7.1 3 8.5l5 5zM3.6 14.1h8.8V16H3.6z"/>
            </svg>
            Lunix   </p>
    
    
            <small class="small-windows">For Lunix</small>
     
        </button>
        <table class="windows-downlod">
            <tbody>
                <tr>
                    <td><strong>Comming Soon</strong> </td>
                    <td>n</td>
                    <td>s</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>