    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.card-body {
    max-width: 100%;
}

  .center {
        text-align: center;
    }
    
    .bottoms {
        top: 0;
        background: rgb(240, 240, 240);
    }
    
    .bottoms center {
        padding: 5px;
        font-size: 0.9375rem;
        /* background: #151515; */
    }
    
    .bottoms center a {
        color: #f12020;
        text-decoration: none;
    }
    
    .bottoms center a:hover {
        text-decoration: underline;
    }